@font-face{ font-family: 'TrumpGothicWestMedium'; src: url('../../font/trumpgothicwestmedium-webfont.eot'); src: url('../../font/trumpgothicwestmedium-webfont.eot?iefix') format('eot'), url('../../font/trumpgothicwestmedium-webfont.woff') format('woff'), url('../../font/trumpgothicwestmedium-webfont.ttf') format('truetype'), url('../../font/trumpgothicwestmedium-webfont.svg#trumpgothicwestmedium-webfont') format('svg'); }


body{
background-color:#F4F4F4;
font-family: tahoma;
font-size: 12px;	
margin:0;
padding:0;
line-height: 1.5em;

}

#maincontainer{
width: 100%px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
background-color:#FFFFFF;

/*margin: auto;*/
text-align: left;
/*width: 1003px;*/

}

#topsection{
background-color:#006699;
text-align: left;		
height:50px;
}


#topsection .header{
color:#fff; 
width:100%;
}
   
#topsection a {
	color:  #fff;
	text-decoration: none;
}

#topsection a:hover {
	color: #fff	;
	text-decoration: none;
}

#contentwrapper{
float: left;
width: 100%;
background-color: white;
}

#contentcolumn{
margin-left: 0px; /*Set left margin to LeftColumnWidth*/

}


#contentcolumn .content {
	margin: 4px;
	padding-top:0px ;
	font-size:11px;

}
#contentcolumn .content p {
	font-size: 12px;
}

#contentcolumn .content h1 {
	color: #FF6600;
	background-color: transparent;
	padding-top:15px;
	padding-bottom:15px;
	font-size:11px;
}

#contentcolumn .content .h1 a{
	color:#006699;
	background-color: transparent;
	border-bottom: 1px dotted#006699;
	font-size:11px;
}

#contentcolumn .content  .h1 a:hover{
	color: #FF6600;
	text-decoration:none;
	font-size:11px;
}

#contentcolumn .content .title{
	text-align:right;
	padding-bottom:10px;
}

#contentcolumn .content .prog{ /*UL of each sub menu*/
padding-top: 40px;
}


#contentcolumn .content .prog ul{ /*UL of each sub menu*/
list-style-type: none;
margin-left: 50px;
padding: 0;
}

#contentcolumn .content .prog ul li{
list-style-type:square;
}

#contentcolumn .content .prog ul li a{
list-style-type: none;
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

#contentcolumn .content .prog ul li a:hover{
text-decoration:underline;

}



#footer{
clear: left;
width: 100%;
background-color:#006699;
color: #FFF;
font-weight:bold;
color: white;
font-size: 10px;	
text-align: left;
padding: 4px 0;
}


a:link, a:visited {
  color:#006699;
  font-size:11px;
  text-decoration:none;
}

a:hover {
	color:#006699;
	text-decoration:none;
	font-size:11px;
}

#paging {
padding-top:0px;
text-align:center;
font-size:12px;
}

.paging span.aktif {
border: 1px solid #2b66a5;
color:#FFFFFF;
background-color:#006699;
padding: 0 5px;
}
.paging a:hover{
border: 1px solid #2b66a5;
color:#FFFFFF;
background-color:#006699;
font-size:12px;
}

.paging a{
padding: 0 5px;
font-size:12px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}




.currentpage{ /*Style for currently selected page link*/
background-color:#006699;
padding: 0 5px;
color: #FFF !important;
border: 1px solid #9aafe5;
font-weight: bold;
cursor: default;
}

#paging  a.disabled, .pagination a.disabled:hover{ /*Style for "disabled" previous or next link*/
background-color: white;
cursor: default;
color: #929292;
border-color: transparent;
}


.jdl {
	color: #fff;
	font-size:26px;
	padding-left:10px;
	font-family: TrumpGothicWestMedium;
}

.h2 {
	color: #fff;
	padding-top:10px;
	background-color: transparent;
	border-bottom: 1px dotted#006699;
	font-size:22px;
	font-family: TrumpGothicWestMedium;
}

.h21 {
	color:#006699;
	background-color: transparent;
	font-size:60px;
	padding-left:0px;
	font-family: TrumpGothicWestMedium;
	text-shadow: 2px 2px 2px #999;
	text-shadow:
}

.h22 {
	color:#fff;
	background-color: transparent;	
	font-size:25px;
	padding-left:5px;
	font-family: TrumpGothicWestMedium;
	
	text-transform:uppercase;
}

.sjdl {
	color: #fff;
	background-color: transparent;
	font-size:24px;
	padding-bottom:-10x;
	font-family: TrumpGothicWestMedium;
}

.jdl {
	color: #fff;
	background-color: transparent;
	font-size:24px;
	font-family: TrumpGothicWestMedium;
}


h2 {
	color: #006699;
	background-color: transparent;
	font-size:26px;
	font-family: TrumpGothicWestMedium;
}


.success {
	color: #006699;
	background-color: transparent;
	font-size:24px;
	font-family: TrumpGothicWestMedium;
	padding-left:6px;
}

.failed {
	color: red;
	background-color: transparent;
	font-size:24px;
	font-family: TrumpGothicWestMedium;
	padding-left:6px;
}

.folder {
padding-bottom:150px;
}



.ctable {
	border:none;
	padding:0px 10px 10px 10px;
	background-color:#c6d5e1;
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	width:100%;
}

.ctable .sub {
	background-color:#ecf2f6;
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/
	padding:5px;
}

.ctable .title {
	padding:5px 5px 5px 5px;
	font-weight:bold;
	color: #006699;
	
}

.td1 {
	text-transform:uppercase;
	padding:10px ;
	background-color:#006699;
	-moz-border-radius: 4px 0px 0px 0px ;
	-webkit-border-radius: 4px 0px 0px 0px ; 
	color:#fff;
	text-align:left;
}

.td1-1 {
	text-transform:uppercase;
	padding:5px 0px 10px 0px ;
	background-color:#006699;
	-moz-border-radius: 4px 0px 0px 0px ;
	-webkit-border-radius: 4px 0px 0px 0px ; 
	color:#fff;
	text-align:center;
}

.td2 {
text-transform:uppercase;
	background-color:#006699;
	-moz-border-radius: 0px 0px 0px 0px ;
	-webkit-border-radius: 0px 0px 0px 0px ;
	text-align:left;
}

.td3 {
text-transform:uppercase;
	background-color:#006699;
	letter-spacing:1px;
	-moz-border-radius: 0px 4px 0px 0px ;
	-webkit-border-radius: 0px 4px 0px 0px ; /*css3 round corners*/
	text-align:center;
}



th{
	color: #FFFFFF;
	font-size: 7pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border:none;
	/*
	
	border-width: 1px;
	border-style: solid;
	border-color:#000000;
	border-collapse: collapse;*/
	text-align:left;
	background-color:#006699;
}

td{
	padding: 0.5em;	
	border:none;
	text-transform:capitalize;
}

.td{
	padding: 0.5em;
	text-align:left;
	border-top:dashed 1px white;
	/*border:none;*/
	text-transform:capitalize;
}

.td4{
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	padding:6px 6px 6px 6px;
	font-size:12px;
	
}



.td5	{	
	background-color:#D1E3ED;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	color:#000000;
	padding:6px 6px 6px 6px;
	font-size:12px;

}

td ul {
list-style-type:none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 12px;
}

td li {	
list-style-type:square;
padding-left:0px;
padding-bottom:1px;
margin:0px 0px 0px 0px;
}


.td6	{	
	background-color:#D1E3ED;
	width:100%;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	color:#000000;
	padding:6px 6px 6px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px ; /*css3 round corners*/

}


.td7 {
	text-transform:uppercase;
	padding:10px 0px 10px 0px ;
	background-color:#006699;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px  ; 
	color:#fff;
	text-align:center;
}

.td8{
	background-color:#F2F2F2;
	color:#000000;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	padding:6px 6px 6px 6px;
	
}



.td9	{	
	background-color:#E9F1FE;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	color:#000000;
	padding:6px 6px 6px 6px;
	

}


.td10{
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	padding:6px 6px 6px 6px;
	font-size:12px;
	
}



.td11	{	
	background-color:#CCC;
	text-align:left;
	text-transform:capitalize;	
	margin: 5px 0px 10px ;
	color:#000000;
	padding:6px 6px 6px 6px;
	font-size:12px;

}

.show a{
color:#E8F6FF;
font-size:10px;
}

.show a:hover{
color:#FFCC33;
font-size:10px;
}
	
.prodlink {
		text-align:center;
}

	
.prodlink a{
	color:#fff;
}

.prodlink a:hover{
	color:#FFF;
}

.link1 {
		text-align:left
}

	
.link1 a{
	color: #FFCC33;
	text-decoration:none;
}

.link1 a:hover{
	color: #FFCC33;
	text-decoration:underline;
}*/

#chart {
	margin-top:0px;
	margin-left:0px;
	}

#chart .jdl {
	margin-left:0px;
	margin-bottom:10px;
	text-transform:capitalize;
	font-size:16px;
	font-weight:bold;

}

.view{
	padding-left: 0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}
.view1{
	padding-left: 0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	text-align:left;
}


input, textarea, select{
	font-family: Tahoma; 
	font-size: 8pt;
	width:200px;
}

.iframe { 
	position:static;
	border:none;
	width: 100%; 
	height: 340px; 
	overflow: auto;
	margin-bottom:0px;	
	border:1px solid #c6d5e1;
	
}

.iframe1 { 
	position:static;
	border:none;
	width: 100%; 
	height: 300px; 
	overflow: auto;
	margin-bottom:0px;	
	border:none;
	
}

.fbutton{
    background-image:url(../../images/find.png);
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:  0px 0px;
	width: 30px;
	height:30px;
	overflow: hidden;
	border: none;
	cursor: pointer	
	
}

.textpay {
width:100%;
height:25px;
font-size:20px;
padding:6px 6px 6px 0px;
background-color:white;
border:1px solid #ADADAD ;
text-align: right;

}

.cmdnum {
width:91px;
height:91px;
color : #006699;
font-size:30px;
padding:3px;
background-color:white;
border:1px solid #ADADAD ;
text-align: center;
-moz-border-radius: 4px ;
-webkit-border-radius: 4px ; /*css3 round corners*/
}

.paybutton {
width:193px;
height:91px;
color : white;
font-size:30px;
padding:3px;
background-color:#006699;
border:1px solid #ADADAD ;
text-align: center;
-moz-border-radius: 4px ;
-webkit-border-radius: 4px ; /*css3 round corners*/
}

.paid {
color : #006699;
font-size:25px;
padding-top: 100px;
}
.cat ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.cat ul li{
border-bottom: 1px solid #006699;
background-color: #F0F0F0;
font-size:22px;
font-family: TrumpGothicWestMedium;
color:#006699;
padding-top: 20px;
list-style-type: none;
height: 40px;
margin-left: -2px;
-moz-border-radius: 4px ;/*css3 round corners*/
-webkit-border-radius: 4px; /*css3 round corners*/	
}


.cat ul li a{
font-size:22px;
font-family: TrumpGothicWestMedium;
text-decoration: none;
}

.cat ul li a:hover{
background: #CAD6EC;
colorz: white;
}


.button1{
    background-image:url(../../images/src.gif);
	background-repeat: no-repeat;
	background-color:#006699;
	background-position:  2px 0px;
	margin-right:-1px;
	width: 23px;
	height:21px;
	overflow: hidden;
	border: 1px solid #006699;
	cursor: pointer	
	
}

.buttonadd{
    background-image:url(../../images/add.gif);
	background-repeat: no-repeat;
	background-color:#006699;
	background-position:  2px 0px;
	margin-right:-1px;
	width: 23px;
	height:21px;
	overflow: hidden;
	border: 1px solid #006699;
	cursor: pointer	
	
}

.buttonsave{
    background-image:url(../../images/save.gif);
	background-repeat: no-repeat;	
	background-color:transparent;
	background-position:  2px 0px;
	margin-right:-1px;
	width: 18px;
	height:18px;
	overflow: hidden;
	border: none;
	cursor: pointer	
	
}

.buttoncan{
    background-image:url(../../images/cancel.gif);
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:  2px 0px;
	margin-right:-1px;
	width: 16px;
	height:16px;
	overflow: hidden;
	border: none;
	cursor: pointer	
	
}

.button2{
	background-image:url(../../images/search.png);
	background-repeat: no-repeat;
	background-color:#FFFFFF;
	background-position:  0px 0px;
	margin-right:-1px;
	width: 23px;
	height:21px;
	overflow: hidden;
	border: 1px solid #FFFFFF;
	cursor: pointer	
}

table .no_border{
border:none;
}

.h_cari{
margin-top:0px;
margin-bottom:-10px;
}

.cari{
margin-top:0px;
margin-bottom:0px;
}


.textbox{
	width:135px;
	text-transform:capitalize;
}

.tselect_tgl{
	width:40px;
	text-transform:capitalize;
}

.tselect_bln{
	width:80px;
	text-transform:capitalize;
}

.tselect_thn{
	width:50px;
	text-transform:capitalize;
}

.cekbox{
	width:10px;
}

.textarea{
	width:430px;
}

.tarea{
	width:265px;
}

.njudul {
	font-size: 14px;
	font-weight: bold;
	padding-top:0px;
	padding-bottom:5px;
	margin-left:0px;
	text-transform:uppercase;
	text-decoration:underline;
	color:#007CC3;
	}



#dhtmltooltip{
position: absolute;
text-align:left;
width: auto;
border: 2px solid white;
padding: 5px;
color:white;
font-weight:bold;
background-color:#006699;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}


<!--drop down login-->

a { text-decoration:none }
.container { width:262px; margin:0 auto; padding-top:200px; }

#bar { width:100%; padding:0px 0; background:url(img/bar.png) repeat-x; }
#container { width:100%; margin:0 auto; }

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    /*background:#d2e0ea url(../../images/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;*/
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#fff; 
    font-size:12px; 
   /* text-shadow:1px 1px #fff; */
    padding:7px 29px 9px 10px;
    background:url(img/loginArrow.png) no-repeat 90px 7px;*/
    display:block
}

#loginButton:hover {
    /*background:url(img/buttonbgHover.png) repeat-x;*/
	text-decoration:none;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:22px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.Aktif {
    border-radius:3px 3px 0 0;
}

#loginButton.Aktif span {
    background-position:90px -76px;
}

/* A Line added to overlap the border */
#loginButton.Aktif em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:190px; 
    border:1px solid #fff;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#006699;
    padding:10px;
	text-align:left;
}

#loginForm ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

#loginForm ul li{
border-bottom: 1px solid #fff;
list-style-type: none;
padding-top:5px;
}

#loginForm ul li a{
list-style-type: none;
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #fff;
height:25px;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

#loginForm ul li a:hover{
color:#CCCCCC;
text-decoration:none;
}


#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #006699;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(img/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    /*text-shadow:0px -1px #278db8;*/
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
	text-decoration:none;
}

input:focus {
    outline:none;
}

.button{	
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	width:80px;
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
	}

.button_disable{	
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	width:70px;
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
	opacity:0.7;filter:alpha(opacity=70);
}

.ibutton{	
	text-align:center;
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	/*padding-left:25px;
	padding-right:25px;	*/
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
}

.ibutton a{
	text-decoration:none;	

}

.ibutton a:hover{
	text-decoration:none;	

}

.ibutton_disable{	
	text-align:center;
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	/*padding-left:25px;
	padding-right:25px;	*/
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
	opacity:0.7;filter:alpha(opacity=70);

}

.ibutton1{	
	text-align:center;
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	padding-left:25px;
	padding-right:25px;	
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
}

.ibutton1 a{
	text-decoration:none;	

}

.ibutton1 a:hover{
	text-decoration:none;	

}

.ibutton1_disable{	
	text-align:center;
	border:1px solid #006699;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;	
	width:60px;
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
	opacity:0.7;filter:alpha(opacity=70);

}


.abutton{	
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#006699;
	color:#FFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	padding: 2px;
	padding-left:10px;
	padding-right:10px;	
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
}

.abutton a{
	text-decoration:none;	

}

.abutton a:hover{
	text-decoration:none;	

}

.abutton_disable{	
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#006699;
	color:#FFFFFF;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	padding-left:10px;
	padding-right:10px;	
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/		
	opacity:0.5;filter:alpha(opacity=50);
}




.abutton1{	
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	color:#006699;
	font-size:20px;
	font-family: TrumpGothicWestMedium;	
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;	
	-moz-border-radius: 4px ;/*css3 round corners*/
	-webkit-border-radius: 4px; /*css3 round corners*/	
}

.abutton1 a{
	text-decoration:none;	

}

.abutton1 a:hover{
	text-decoration:none;	

}





<!--switches-->

.field { width: 100%; float: left; margin: 0 0 20px; }
	.field input { margin: 0 0 0 20px; }
	h3 span { background: #444; color: #fff; padding: 3px; }
	pre { background: #f4f4f4; }

	/* Used for the Switch effect: */
	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../../switch.gif) repeat-x; display: block; float: left; }
	.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
	.cb-enable span { background-position: left -90px; padding: 0 10px; }
	.cb-disable span { background-position: right -180px;padding: 0 10px; }
	.cb-disable.selected { background-position: 0 -30px; }
	.cb-disable.selected span { background-position: right -210px; color: #fff; }
	.cb-enable.selected { background-position: 0 -60px; }
	.cb-enable.selected span { background-position: left -150px; color: #fff; }
	.switch label { cursor: pointer; }
	
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #fff;}
#TB_window a:visited {color: #fff;}
#TB_window a:hover {color:#fff;text-decoration:underline; }
#TB_window a:Aktif {color: #fff;}
#TB_window a:focus{color: #fff;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#fff;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#006699;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
	
/*UI tabs*/
.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none;  list-style: none;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid #d3d3d3;
	bottom: -1px;
	_bottom: -20px;
	
}
.ui-tabs-nav-item {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none;  list-style: none;
	float: left;
	border: 1px solid #d3d3d3;
	border-right: none;
}
.ui-tabs-nav-item a {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none;  list-style: none;
	float: left;
	font-weight: normal;
	text-decoration: none;
	padding: 5px 10px;
	color: #555555;
	background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-tabs-nav-item a:hover {
	background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	color: #212121;
}
.ui-tabs-selected {
	border-bottom-color: #ffffff;
}
.ui-tabs-selected a, .ui-tabs-selected a:hover {
	background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	color: #222222;
}
.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; list-style: none;
	clear:left;
	height:450px;
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
	padding: 20px;
	_padding:10px 20px;
	overflow:auto;
	margin-bottom:30px;	
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}	

/*tiny table*/

#tablewrapper {width:100%; }
#tableheader {height:55px}
.search {float:left; padding:6px; border:1px solid #c6d5e1; background:#fff}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:100%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none}
.tinytable th {background-color:#006699; text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:10px; padding:6px 8px 8px}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.tinytable .head h3 {background:url(img/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background-color:#006699;}
.tinytable .desc h3 {background:url(img/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(img/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:15px; margin-top:10px}
#tablenav {float:right}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {}
<!--.page {margin-top:2px; font-style:italic}-->
#selectedrow td {background:#c6d5e1}

#vertical_div { 
	position:static;
	border:none;
	height:auto;
	width: 100%; 
	overflow: auto;	
}
